body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.box1{
    width: 45%;
    margin: auto;
    border: 0.5px solid #000;
}
.box1 .box1_1{
    width: 35%;
    margin: auto;
    padding-right: 20px;
}
.box1_2 img{
    width: 100%;
}

